<table style="width: 100%; max-width: 660px; margin-left: auto; margin-right:auto;font-family: 'Rubik', sans-serif;">
    <%- await include('header'); -%>
        <tr>
            <td>
                <table style="width: 100%; font-family: 'Rubik', sans-serif;">
                    <tr>
                        <td style="padding: 20px 24px 60px 24px; font-family: 'Rubik', sans-serif;">
                            <table>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Hi,</td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Greetings!<br /><br /></td>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">We noticed that you haven't uploaded your product
                            catalog yet.</td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            To make the most of your CaleffiHub account, please upload your product catalog (CSV or XML)
                            at least once.
                            This helps us serve you better and ensures your inventory is always up to date.
                            <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            If you’ve already uploaded your catalog, you can safely ignore this email.<br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            Thank you for being a part of CaleffiHub!<br /><br />
                            Best Regards,<br />
                            Team CaleffiHub
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <%- await include('footer'); -%>
</table>
</td>
</tr>
</table>